<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />

    <title>DEMO</title>
    <style>
      #book-valuation-widget {
        float: right;
        margin-bottom: 1em;
      }
      .page-container {
        max-width: 1024px;
        margin: 0 auto;
      }
    </style>
    <link rel="stylesheet" href="<%= CDN_URL %>/search-widget.css" />
    <link rel="stylesheet" href="<%= CDN_URL %>/book-valuation-widget.css" />
  </head>

  <body>
    <div class="page-container">
      <div id="book-valuation-widget"></div>
      <div id="search-widget"></div>
    </div>
    <script src="<%= CDN_URL %>/search-widget.js"></script>
    <script src="<%= CDN_URL %>/book-valuation-widget.js"></script>
    <script src="<%= CDN_URL %>/themes.js"></script>
    <script>
      ReapitSearchWidget &&
        new ReapitSearchWidget({
          theme: window.theme,
          apiKey: '<%= API_KEY %>',
          customerId: '<%= CUSTOMER_ID %>',
          parentSelector: '#search-widget',
          detailPageUrl: '/detail.html',
        })

      ReapitBookValuationWidget &&
        new ReapitBookValuationWidget({
          theme: window.theme,
          apiKey: '<%= API_KEY %>',
          customerId: '<%= CUSTOMER_ID %>',
          parentSelector: '#book-valuation-widget',
          variant: 'VALUATION',
        })
    </script>
    <% if (development) { %>
    <script>
      document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
        ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
    <% } %>
  </body>
</html>
